.clip-page {
    background: #dcf5ff;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.clip-container {
    display: flex;
    width: 250px;
    height: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 7px 8px 5px rgba(174,29,255, .2);

    .clip-inner {
        display: flex;
        background: rgb(29, 221, 255);
        border-radius: 10px;
        width: 100%;
        clip-path: circle(10% at 0% 0%);
        transition: all .4s ease-in-out;
        
        h1 {
            color: white;
            font-size: 3rem;
            font-weight: 700;
            margin: .7rem;
        }

        p {
            color: white;
            font-size: 1.2rem;
            padding: .5rem;
        }

        .clip-fade-in {
            border-radius: 10px;
            background: rgb(174,29,255);
            background: linear-gradient(130deg, rgba(174,29,255,1) 0%, rgba(255,0,184,1) 100%);
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            clip-path: circle(5% at 0% 0%);
            transition: all .4s ease-in-out;
        }

        &:hover .clip-fade-in {
            clip-path: circle(80%);
        }
    }

    &:hover .clip-inner {
        clip-path: circle(80%);
    }
}